@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(6, 100%, 80%); }

* {
    font-family: 'Raleway', sans-serif;
}

body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(229, 57%, 11%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
}

/* main > div {
    background: hsl(228, 56%, 26%);
    display: flex;
    flex-direction: column;
    max-width: 360px;
    min-width: 340px;
} */

.first {
    gap: 2em;
    padding: 3em 5.4em;
    border-radius: 12px;
    border-top-right-radius: 45%;
    background: hsl(228, 56%, 26%);
    display: flex;
    flex-direction: column;
    max-width: 360px;
}

.icons {
    display: flex;
    gap: 1em;
}

.icons > a{
    background: hsl(229, 57%, 11%);
    width: 3em;
    height: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: transparent;
}

.range {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
    background: hsl(228, 56%, 26%);
    display: flex;
    flex-direction: column;
    max-width: 360px;
    border-radius: 12px;
    z-index: 1;
}

.range h1 {
    font-size: 0.9em;
    color: hsl(229, 7%, 55%);
    font-weight: 700;
    padding: 0em 0.5em;
}

.range h1 span {
    color: hsl(228, 36%, 86%);
}

.stats {
    color: hsl(228, 36%, 86%);
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin-top: -10px;
    font-weight: 700;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.floating {
    background: white;
    width: fit-content;
    padding: 0.5em 2em;
    border-radius: 10px;
    margin-top: -2em;
    z-index: 2;
}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.p > p {
    font-size: 2.3em;
    font-weight: 800;
    color: hsl(229, 57%, 11%);
}

.p > p:last-child{
    font-size: 0.8em;
    text-transform: uppercase;
    color: hsl(229, 7%, 55%);
}

input[type="range"]{
    height: 1.25em;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 12px;
    background-color: hsl(229, 57%, 11%);
    padding-right: 20%;
    padding-left: 1%;
}

input[type="range"]::-webkit-slider-thumb{
    border-radius: 100%;
    height: 0.7em;
    width: 12px;
    -webkit-appearance: none;
    background: white;
    margin-right: 0.2em;
    margin-top: 0.1em;
}

input[type="range"]::-webkit-progress-value{
    background-color: white;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 12px;
    width: 81.5%;
    height: 0.9em;
    cursor: pointer;
    margin-bottom: 0.1em;
    margin-top: 0.05em;
    padding-right: 0.1em;
}

@media (min-width: 1000px){
    body {
        display: grid;
        place-content: center;
        justify-content: center;
        max-height: 100vh;
        max-width: 100vw;
        padding: 5em 0;
        background-image: url(images/bg-desktop.png);
        background-size: contain;
        background-position: 0% 130%;
        background-color: hsl(229, 57%, 11%);
    }

    main {
        min-width: 100%;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 7em;
        margin-bottom: 6em;
    }

    .first {
        max-width: auto;
        padding: 3em 5.4em;
        padding-left: 3em;
        padding-right: 6.4em;
    }

    .range {
        max-width: 100%;
        width: 50vw;
    }

    .floating {
        background: none;
        position: absolute;
        right: 20px;
        top: -60px;
        margin: 0;
        gap: 0;
        display: flex;
        flex-direction: column;
    }

    .p {
        background: white;
        width: fit-content;
        padding: 0.5em 2em;
        border-radius: 10px;
        border-bottom-right-radius: 0;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        margin: 0em;
    }

    input[type="range"] {
        padding-left: 0.2em;
    }

    .triangle {
        height: 0;
        width: 0;
       border: 20px solid transparent;
       border-top: 0;
       border-bottom: 20px solid white;
       transform: rotate(44deg);
       margin-top: -4px;
       margin-right: -13px;
       align-self: flex-end;
    }
}
